<h4>Advanced Search</h4>
<form #f="ngForm">
  <div class="form-group">
    <label for="title">Product title:</label>
    <input id="title"
           placeholder="Title" type="text"
           name="title" ngModel>
  </div>
  <div class="form-group">
    <label for="price">Product price:</label>
    <input id="price"
           placeholder="Price" type="number"
           name="price" ngModel>
  </div>
  <div class="form-group">
    <label for="category">Category:</label><br/>
    <select id="category"
            placeholder="Category"
            name="category" ngModel>
      <option>books</option>
      <option>electronics</option>
      <option>hardware</option>
    </select>
  </div>
  <div class="form-group">
    <button type="submit"
            class="btn btn-primary btn-block">Search</button>
  </div>
</form>
